body { 
	background-color: 070c16; 
	color: fefefc
	}
 h1 {
	 font-family: 'Montserrat', sans-serif;
	}
p {
	font-family: 'Shadows Into Light', cursive;
	}
h2 {
	font-family: 'Montserrat', sans-serif;
	}
.table1 {
	background-color: b7421e;
	border-radius: 20px 20px 20px 20px;
	}
.table2 {
	background-color: e5cb98;
	border-radius: 20px 20px 20px 20px;
	width: auto;
	height: auto;
	}
a.english {
	background-color: fc0303;
	border-radius: 5% 5% 5% 5%;
	color: 3800f0;
	}
